{% extends  'testApp/base.html' %}
{% load static %}
{% block  title %}
changepassword
{% endblock %}
{% block  content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{% static 'testApp/css/change.css' %}">
 <div class="container">
 <div class="row main-form">
<form  method="post">
{% csrf_token %}
      <div class="form-error">
                       {% for field, error in form.errors.items %}
        <div class="alert alert-danger my-3 p-1" role="alert">
            {{ error|striptags }}
        </div>
                  {% endfor %}
     <div class="form-group">
 <label for="password" class="cols-sm-2 control-label">Old Password</label>
 <div class="cols-sm-10">
 <div class="input-group">
 <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
 {{ form.old_password }}
 </div>
 </div>
 </div>

 <div class="form-group">
 <label for="password" class="cols-sm-2 control-label">New Password</label>
 <div class="cols-sm-10">
 <div class="input-group">
 <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
 {{ form.new_password1 }}
 </div>
 </div>
 </div>

 <div class="form-group">
 <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
 <div class="cols-sm-10">
 <div class="input-group">
 <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
 {{ form.new_password2 }}
 </div>
 </div>
 </div>

 <div class="form-group ">
<button  type="submit" class="btn btn-success">Change password </button>
 </div>
 </form>
 </div>
 </div>
{% endblock %}
